*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Martian Mono', monospace;
}
body{
  font-family: 'Martian Mono', monospace;
}
#navBar button{
  font-family: 'Martian Mono', monospace;

}

.avatar > div{
  margin: 0;
}
