.activeTab{
    border-bottom: 2px solid #1976d2;
}
.signUPForm{
    transform:translateY(-100%) translateX(-100vmax)
}
.shiftLeft{
    transform: translateX(-100%);
}

.shiftToNeutralForm{
    transform: translateX(0%) translateY(-100%);
}